<div class="container-fluid py-2 top-section">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-md-5"> <a href="#"><img src={{logo}} alt="Logo"></a></div>
    <div class="col-xs-12 col-sm-7 col-md-7">
        <div class="btn-group float-right border signout">
            <button type="button" class="btn btn-group dropdown-toggle" (click)="headerProfileToggle = !headerProfileToggle"> <i class="fa fa-cog" aria-hidden="true"></i> </button>
            <div class="dropdown-menu" style="left:-100px" *ngIf="headerProfileToggle"> <a href="#" class="dropdown-item"><i class="fa fa-cogs mr-2" aria-hidden="true"></i>Profile</a> <a href="#" class="dropdown-item"><i class="fa fa-sign-out mr-2" aria-hidden="true"></i>Sign out</a> </div>
          </div>
      <div class="float-right profile-pic mr-4"> 
        <img src={{headerProfilePic}} alt="Profile Pic" width="45" class="mr-1">
        <span>Vamsi Velaga</span> 
      </div>
      <div class="btn-group language border float-right mr-4">
        <button type="button" class="btn btn-group">English</button>
        <button type="button" class="btn btn-group dropdown-toggle dropdown-toggle-split" (click)="languageToggle= !languageToggle"></button>
        <div class="dropdown-menu" *ngIf="languageToggle">
          <a class="dropdown-item" href="#" *ngFor="let language of languages">{{language}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid px-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0">
        <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="false"> <span class="navbar-toggler-icon"></span> </button>
        <div class="navbar-collapse collapse text-uppercase" id="navb">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item" routerLinkActive="active">
                  <a class="nav-link" routerLink="index">
                    <i class="fa fa-tachometer pr-1" aria-hidden="true"></i>Index
                  </a>
                </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="home">
                <i class="fa fa-tachometer pr-1" aria-hidden="true"></i>Home
              </a>
              <ul>
                <li>
                  <a class="nav-link" routerLink="home">Home</a>
                </li>
              </ul>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link"  routerLink="patientcard">
                <i class="fa fa-stethoscope pr-1" aria-hidden="true"></i>Patient
              </a>
              <ul>
                <li>
                  <a class="nav-link" routerLink="patientcard">Patient Card</a>
                </li>
                <li>
                  <a class="nav-link" routerLink="allpatients">All Patients</a>
                </li>
                <li>
                  <a class="nav-link" routerLink="searchpatient">Search Patient</a>
                </li>
                <li>
                  <a class="nav-link" routerLink="deletepatients">Delete Patients</a>
                </li>
              </ul>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="appointments">
                <i class="fa fa-flag pr-1" aria-hidden="true"></i>Appointments
              </a>
              <ul>
                <li>
                  <a class="nav-link" routerLink="appointments">Appointments</a>
                </li>
              </ul>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="myaccount">
                  <i class="fa fa-user-md pr-1" aria-hidden="true"></i>Settings
              </a>
              <ul>
                <li>
                  <a class="nav-link" routerLink="myaccount">My Account</a>
                </li>
                <li>
                  <a class="nav-link" routerLink="assistant">Assistant</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active"> 
              <a class="nav-link" routerLink="contact"><i class="fa fa-paper-plane mr-2" aria-hidden="true"></i>Contact</a> 
            </li>
          </ul>
        </div>
      </nav>
      <div class="input-group search px-4 py-3"> <span class="input-group-addon p-0">
          <button type="button" class="btn btn-group"><i class="fa fa-wheelchair" aria-hidden="true"></i></button>
          </span>
          <input type="text" class="form-control" placeholder="Search Here">
          <span class="input-group-addon p-0">
          <button type="button" class="btn btn-group btn-info">open card</button>
          </span> 
     </div>
</div>