      <mat-form-field class="example-full-width">
        <input matInput placeholder="Search Here" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
            <span>{{ state.name }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <br/><br/>
    
      <br/>
      <div class="container">
        <div class="login">
          <div class="signin-area" *ngIf="signInArea">
              <h4>Login</h4>
              <div class="row mx-0">
                <div class="col-xs-12 col-md-12">
                  <div class="form-group">
                    <label><i class="fa fa-user"></i></label>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Email" [formControl]="emailFormControl"
                               [errorStateMatcher]="matcher">
                        <mat-hint>Errors appear instantly!</mat-hint>
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                          Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                          Email is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                  </div>
                </div>
                <div class="col-xs-12 col-md-12">
                  <div class="form-group">
                    <label><i class="fa fa-key"></i></label>
                    <mat-form-field class="w-100">
                       <input matInput value="" placeholder="Password" type="password" [ngModel]="Password" pattern="[0-9a-fA-F]{4,8}" title="Enter an ID consisting of 4-8 hexadecimal digits" required>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row mx-0 px-2">
                <div class="forgot">
                  <div class="login-check float-left">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" [(ngModel)]="checked">Remember Me</mat-checkbox>
                    </section>
                  </div>
                  <div class="login-para float-right">
                    <p><a href="#"> Forgot Password? </a></p>
                   </div>
                   <div class="clear"></div>
                </div>
              </div>
              <div class="row mx-0 text-center d-block">
                <button mat-button type="submit" (click)="login()">login</button>
              </div>
          </div>
          <div class="signup-area" *ngIf="signUpArea">
              <h4>Register</h4>
              <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="row mx-0">
                  <div class="col-xs-12 col-md-12">
                    <div class="form-group">
                      <label><i class="fa fa-user"></i></label>
                      <mat-form-field class="w-100">
                          <input matInput placeholder="Email" [formControl]="emailFormControl"
                                 [errorStateMatcher]="matcher">
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Please enter a valid email address
                          </mat-error>
                          <mat-error *ngIf="emailFormControl.hasError('required')">
                            Email is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-12">
                      <div class="form-group">
                        <label><i class="fa fa-key"></i></label>
                        <mat-form-field class="w-100">
                           <input matInput value="" placeholder="Password" [(ngModel)]="Password" formControlName="password" [formGroup]="form" pattern="[0-9a-fA-F]{4,8}"
                           title="Enter an ID consisting of 4-8 hexadecimal digits" required> 
                        </mat-form-field>
                      </div>
                    </div>
                  <div class="col-xs-12 col-md-12">
                    <div class="form-group">
                      <label><i class="fa fa-key"></i></label>
                      <mat-form-field class="w-100">
                         <input matInput value="" placeholder="Confirm Password" [(ngModel)]="confirmPassword" [formControl]="confirmPasswordCtrl" [formGroup]="form" pattern="[0-9a-fA-F]{4,8}"
                         title="Enter an ID consisting of 4-8 hexadecimal digits" required>
                         <mat-error *ngIf="Password != confirmPassword">Password not match</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </form>
                <div class="row mx-0 w-100 d-block float-left mb-3">
                  <button mat-button class="float-right" (click)="loginArea()">Cancel</button>  
                  <!-- <button mat-button class="mt-3 mr-3 float-right">Save</button> -->
                  <input type="submit" class="btn btn-primary mr-2 float-right" value="Submit" [disabled]="confirmPasswordCtrl.invalid">
                </div>
          </div>
          <div class="row mx-0 text-center d-block mt-3 mb-2">
            <div class="login-bottom">
              <h5>login</h5>
              <p class="mb-0">With your social media account</p>
              <div class="social-icons">
                <div class="button offset-md-1 mb-2">
                  <a class="tw col-xs-12" href="#"> <i class="fa fa-twitter anc-tw" aria-hidden="true"></i> <span>Twitter</span>
                    <div class="clear"></div>
                  </a>
                  <a class="fa1 col-xs-12" href="#"> <i class="fa fa-facebook anc-fa" aria-hidden="true"></i> <span>Facebook</span>
                    <div class="clear"></div>
                  </a>
                  <div class="clear"></div>
                </div>
                <h6>Don,t have an Account? <a href="#"> Register Now!</a></h6>
                <button mat-button class="mt-3" (click)="registerForm()">Register</button>
              </div>
            </div>
          </div>
        </div>
      </div>