<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3 mb-3 blocks">
      <figure>
          <div class="doc-hoverbg">
            <p>Doctor</p>
          </div>
        <img src="{{imagesPath}}New-Professional-Licensure.jpg" class="w-100" alt="Image 1" />
        <figcaption>vbnvbnvbnbvnvbnbvn</figcaption>
      </figure>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 mb-3">
      <img src="{{imagesPath}}New-Professional-Visiting-Licensure.jpg" class="w-100" alt="Image 1" />
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 mb-3">
      <img src="{{imagesPath}}Add-Employer-Process.jpg" class="w-100" alt="Image 1" />
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 mb-3">
      <img src="{{imagesPath}}Professional-Licensure-Renewal.jpg" class="w-100" alt="Image 1" />
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 mb-3">
      <img src="{{imagesPath}}Professional-Licensure-Reapplication-Process.jpg" class="w-100" alt="Image 1" />
    </div>
  </div>
</div>